body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar{
    background-color: rgb(188, 37, 62);

}

.navigationbar ul{
    background-color: rgb(188, 37, 62);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navigationbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navigationbar a:hover{
    background-color: gray;
}

.navigationbar li{
    float: left
}
